.Activities {
	display: flex;
	align-items: center;
	height: 100vh;
	flex-direction: row;
	width: 100%;
	overflow: hidden;
}

.Activity-wrapper {
	height: 100%;
	flex: 1;
	text-align: center;
	transition: flex 500ms;
}

.Activity-cover {
	height: 100%;
}

.Activity-wrapper:nth-child(even) {
	background-color: #E6FFE0;
	color: #196070;
}

.Activity-wrapper:nth-child(odd) {
	background-color: #196070;
	color: #E6FFE0;
}

.Activity {
	top: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.vertically-aligned {
	display: flex;
	width: 100%;
	flex-direction: column;
	transition: all 1s;
}

.Expanded-box {
	margin: 1em;
}

.Activity-title {
	width: 100%;
	text-transform: uppercase;
}

.Activity-heading {
	font-size: 150%;
	font-weight: 500;
	display: block;
	margin: auto;
	vertical-align: middle;
}

.SelectedActivity-wrapper {
	width: 100%;
	margin-top: 5em;
}

.SelectedActivity {
	display: block;
	height: 100%;
	max-width: 800px;
	padding: 1em;
	margin: auto;
}

.SelectedActivity-title {
	font-size: 48px;
	font-weight: 300;
	color: #4C4B4D;
	text-transform: uppercase;
}

.SelectedActivity-link {
	display: inline-block;
}

.SelectedActivity-link:hover {
	text-decoration: underline;
}
.Button {
	text-decoration: none;
	background-color: transparent;
	padding: 1em;
	border: 1px solid;
	color: #E6FFE0;
	cursor: pointer;
}

.Button:hover {
	background-color: #E6FFE0;
	color: black;
}

@media only screen and (max-width: 768px) {
	.Activity, .Activity-wrapper {
		width: 100%;
	}

	.Activities {
		flex-direction: column;
	}

	.Activity-wrapper {
		display: flex;
		align-items: center;
	}

	.Activity {
		position: relative;
		vertical-align: middle;
		overflow: auto;
	}

	.Expanded-box {
		font-size: 12px;
	}
}

.SelectedActivity-button {
	position: absolute;
	right: 0;
	top: 0;
	margin: 1em;
}

