.Begin {
	display: block;
	width: 100%;
	position: absolute;
	bottom: 2em;
	left: 0;
}

.Begin-button {
	border: 1px solid;
	color: rgba(0, 0, 0, 0.3);
	height: 100%;
	padding: 2em;
	border-radius: 3.5em;
}