.FrontSlide-wrapper, .FakeSlide-wrapper {
	max-width: 1000px;
	margin: auto;
	display: block;
	height: 100%;
	text-align: center;
}

h1.Title {
	font-weight: 700;
	font-size: 5em;
	margin-bottom: 0;
	color: lightgray;
}

.FrontSlide-Timeleft > small, .FrontSlide-Dates > small {
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.Title-letter {
	display: inline-block;
}

.FrontSlide {
	opacity: 1;
	transform: translateY(100%);
	transform-origin: center;
}

.FrontSlide-register {
	margin-top: 3em;
	text-transform: uppercase;
}

.FrontSlide-registerLink {
	padding: 1em;
}

.divider {
	position: relative;
	display: block;
	width: 70%;
	height: 2px;
	background-color: lightgray;
	margin: auto;
}
