* {
  box-sizing : border-box;
}

.dummy{
  height: 0px;
}

#main-div{
  max-width: 1000px;
  margin:auto;
}


.col-1 { margin:1em;display: block;height: 100px;}

.flex-css{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*@media screen and (max-width: 800px) {
  .flex-css {
    flex-direction: column;
    margin: auto;
  }

  .col-1 {
    display: block;
    margin: auto;
  }
}*/

.leftspace{
  margin-left: 8.5em;
}

.App-main-header {
  text-align:left;
  padding: 1em;
  background-color: #196070;
}

.App-main-header > h1 {
  padding: 0;
  margin: 0;
  color: #e6ffe0;
}

.App-indi-headers{
  background-color: #e6ffe0;
  color:#196070;
  font-size: 20px;
  text-align: center;
}

#holder-div {
  margin: 0 0 1em 0;
}

.App-intro {
  font-size: large;
}

.row-sponsors{
  display: inline;
}

.img{
  width:100%;
}

.margin{
  margin-right: 5px;
  margin-top: 5px;
  border-style: solid;
  border-color: #fff;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
